body {
    background: linear-gradient(45deg, rgb(139, 161, 246), rgb(153, 123, 184));
}

h1 {
    font-family: 'Poiret One', cursive;
    text-align: center;
    margin-top: 250px;
    color: white;
}