.container {
    width: 1500px;
    height: 900px;
    border-radius: 2px;
    margin: auto;
    margin-top: 25px;
}

body {
    background-color: #222222;
}

#html {
    font-family: 'Poiret One', cursive;
    text-align: center;
    font-size: 96px;
    margin-top: 250px;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #83e192;
}

#css {
    font-family: 'Poiret One', cursive;
    text-align: center;
    font-size: 96px;
    color: white;
}
